
body {font-family: georgia, arial; font-size: 7.5pt; color: #AEE9F0; background: #181818; background-image: url()}

       a {font-family: georgia; color: #FFFFFF; text-decoration: none; font-size: 7.5pt; cursor:help}
       a:hover {font-family: georgia; color: #D6FBFF; text-decoration: bold; font-size: 8pt; cursor:help}


body
{ background-color: #181818;
  background-image: url("images/colorvibesback (1).png");

font-family: georgia, arial;
color: #AEE9F0;
font-size: 7.5pt;

margin-top: 0px;
margin-left: 2px;
margin-bottom: 0px;

scrollbar-3dlight-color: #40697B;
scrollbar-arrow-color: #40697B;
scrollbar-base-color: #40697B;
scrollbar-darkshadow-color: #40697B;
scrollbar-face-color: #284653;
scrollbar-highlight-color: #40697B;
scrollbar-shadow-color: #40697B;
scrollbar-track-color: #40697B}

.entry
{ background-image: url("images/textboxback.png");
  
}
  
.storyContent
  { padding-left: 3px;
  
  }

.storyAuthor
  { font-size: 8.5pt;
    
  }

  .green {
    background-image: url("images/leftnav.png");
  }
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}
.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  




.side-nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin: 2px 0 2px 0;
    }

    li:hover {
        background-color: rgba(0, 0, 255, 0.2);
    }
}
